<!DOCTYPE html >
<html lang="es">
	<head>
		{% block title%} <title>Gliord, El mundo de los sueños</title> {% endblock %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load static %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	 	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
	  	{% load static %}
		<link rel="stylesheet" href="{%static 'css/Style.css' %}">
	  	<script  src="{%static 'js/Funciones.js' %}"></script>
	</head>
	<body>
		{% block sidebar %}
		<header class="Header">
			<div class="logo-nav-container">
				<a href="{% url 'index' %}" class="Logo">Gliord</a>
					<nav class="Navigation">
					<ul>
						<li>
							<div class="btn-group">
							  <button type="button" class="btn btn-danger" >Información</button>
							  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <div class="dropdown-menu">
							    <a class="dropdown-item" href="#">Personajes</a>
							    <a class="dropdown-item" href="#">Juego</a>
							    <a class="dropdown-item" href="#">Historia</a>
							  </div>
							</div>
						</li>
						<li><a href="{% url 'posts' %}">Posts</li>
						<li><a href="{% url 'Registrar' %}">Registrarse</a></li>
						<li><a href="{% url 'Login' %}">Iniciar Sesion</a></li>
					</ul>
				</nav>
			</div>
		</header>
		{% endblock %}
		<main>
			
			{% block content %}{% endblock %}
		</main>
		{% block footer %}
		<footer>
			<div class="footer">
				<p>
				©2020 GLIORD, INC. TODOS LOS DERECHOS RESERVADOS.
				Todas las marcas comerciales a las que se hace referencia son propiedad de sus respectivos dueños.
				</p>
			</div>
		</footer>
		{% endblock %}


		
	</body>
</html>